
#bo {
	background: black important!;
}

.wrapper {
    width: 90%;
    height: 80%;
    background: rgb(255,255,255);
    margin: auto;
    border-radius: 10px;
    /*box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.2);  그림자 추가 */
}

#ErrorPrint {
    align-items: center;
}

#ErrorPrint p{
        font-size: 17px;
        color: black;
        margin-top: 20px;
        margin-left: 150px;
}

