<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- ECharts 기본 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- ECharts 워드 클라우드 모듈 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud/dist/echarts-wordcloud.min.js"></script>
    <title>Bitory Coin Predict</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/Logo3.png" >
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bs5/bootstrap.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>



    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/flex-slider.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/templatemo-scholar.css">

    <link rel="stylesheet" href="/assets/css/market-table.css">
    <link rel="stylesheet" href="/assets/css/trade.css">
    <link rel="stylesheet" href="/assets/css/history.css">
    <link rel="stylesheet" href="/assets/css/slider.css">
    <link rel="stylesheet" href="/assets/css/virtualInvest.css">

    <!-- 가상화폐 예측분석 그래프 css-->
    <link rel="stylesheet" href="/assets/css/predict.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">

</head>
<body style="background-color: black;">
<div class="cont">
    <th:block th:replace="/fragment/header :: header"></th:block>


    <th:block layout:fragment="content" ></th:block>

    <th:block th:replace="/fragment/footer :: footer"></th:block>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.min.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/counter.js"></script>
<script src="/assets/js/custom.js"></script>

<!-- 가상화폐 예측 그래프 자바스크립트 -->
<script src="/assets/js/predict.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 실시간 마켓 테이블 자바스크립트-->
<script src="/assets/js/market-table.js"></script>
<!-- 트레이드 테이블 자바스크립트 -->
<script src="/assets/js/trade.js"></script>
<!-- 전일 기준 종목별 체결량 테이블 자바스크립트(인덱스 js)-->
<script src="/assets/js/index.js"></script>
<!-- 가상투자 자바스크립트-->
<script src="/assets/js/virtualInvest.js"></script>
<!-- 가상투자 자바스크립트-->
<script src="/assets/js/history.js"></script>
<!-- 슬라이더 자바스크립트-->
<script src="/assets/js/slider.js"></script>
<!-- 마이페이지 자바스크립트-->
<script src="/assets/js/mypage.js"></script>
<!-- Echart -->
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js"></script>
<!-- Swiper JS -->
<script type="module">
    import swiper from 'https://cdn.jsdelivr.net/npm/swiper@11.0.6/+esm'
</script>


</body>
</html>