<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
</head>
<body>
<th:block layout:fragment="content">
<meta charset="utf-8">
<div class="main-banner" id="top">
	<div id="main" class="container">
        <div class="card card bg-light offset-3 col-6"
                style="height:600px; width:1000px; border-radius:5%">
            <form class="form offset-1 col-10" id="virtualform" name="virtualform">
                <h2 style="margin: 8%; text-align:center">Start With Virtual Account</h2>
                <div class="mb-3">
                    <label for="oti" class="form-label" style="font-size:20px"> <i class="fa-solid fa-user ms-2"></i> One Time Initial ID</label>
                    <input type="text" class="form-control" id="oti" name="oti" placeholder="사용하실 ID값을 입력해주세요" style="height:80px; font-size:20px;" pattern="^[a-zA-Z0-9]+$" title="Only English letters and numbers are allowed">
                </div>
                <br>
                <div class="mb-3">
                    <label for="otb" class="form-label" style="font-size:20px"><i class="fa-solid fa-coins ms-2"></i> One Time Budget(KRW)</label> <!-- 1회성 현금 예산(KRW) -->
                    <input type="number" class="form-control" id="otb" name="otb" placeholder="0원 초과 자유롭게 입력하세요!" step="100000" style="height:80px; font-size:20px;" min="100000" max="1000000000">

                </div>
                <br>
                <div class="d-grid gap-2 b-3"> <!-- button / trend로 바뀔 예정 -->
                    <!-- <button type="button" class="btn btn-dark" onclick="location.href='/trend'"> -->
                    <button type="button" class="btn btn-warning" id="startbtn" style="font-size:25px; font-weight:bolder"> Ready For Virtual Investment!</button> <!-- login button-->
                </div>
            </form>
        </div>
	</div>
</div>
<script src="/assets/js/login.js" charset="utf-8"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 'Ready For Virtual Investment!' 버튼에 클릭 이벤트 리스너 추가
        document.getElementById('startbtn').addEventListener('click', function() {
            // 로컬 스토리지에서 'investmentLogs' 데이터 삭제
            localStorage.removeItem('investmentLogs');

            // 여기에 다른 로직이 필요하다면 추가하세요. 예를 들어, 다른 페이지로 리디렉션 등
        });
    });
</script>

</th:block>
</body>
</html>