<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 가상투자 자바스크립트-->
    <script src="/assets/js/history.js"></script>

    <link rel="stylesheet" href="/assets/css/history.css">
</head>
<body>
<th:block layout:fragment="content">
    <div class="main-banner" id="top">
        <div id="main" class="container">
            <div class="container">
                <div class="row">
                    <!-- Chart&Graph Start -->
                    <div class="col-6" style="margin-left:-2%">
                        <div class="row">
                            <div class="col">
                                <div class="container-table p-3">
                                    <div class="chart-container">
                                        <canvas id="AccTradePrice24hChart"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container-table p-3">
                                    <canvas id="RateChangeChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="container-table p-3" style="width:100%">
                                    <h3 style="text-align:center;" >거래대금 TOP5</h3>
                                    <table id="realtimeTradeVolumeTable">
                                        <thead>
                                        <tr>
                                            <th>종목</th>
                                            <th>거래량</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>비트코인</td>
                                            <td>1000</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container-table p-3" style="width:100%">
                                    <h3 style="text-align:center;">실시간 변동률 TOP 5</h3>
                                    <table class="market-table"  id="realtimeChangeRateTable2" >
                                        <thead>
                                        <tr>
                                            <th class="market-th" style="text-align:center;">종목명</th>
                                            <th class="market-th" style="text-align:center;">현재가</th>
                                            <th class="market-th" style="text-align:center;">변동률</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- JavaScript를 통해 여기에 코인 정보가 동적으로 삽입됩니다. -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Chart&Graph End -->

                    <div class="col-6 container-table my-budget" style="height:800px">
                        <h1 class="m-3" style="color:white; text-align:center;">My Budget</h1>
                        <div class="row">
                            <table style="min-height: 800px">
                                <thead>
                                <tr>
                                    <th style="width:30%;">시간</th>
                                    <th style="width:30%;">가격/총액(수수료포함)</th>
                                    <th style="width:25%;">종목/수량</th>
                                    <th style="width:15%;">여부</th>
                                </tr>
                                </thead>
                                <tbody id="investmentLogTableBody">
                                <!-- 이곳에 매수/매도 로그가 추가됩니다. -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>
