<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head></head>
<body>
<th:block layout:fragment="content">
    <meta charset="utf-8">
    <div class="main-banner" id="top">
        <div id="main" class="container">
            <!-- =========================   실시간 가상화폐 주가 테이블  ==============================-->
            <div class="container">
                <div class="row">
                    <div class="container-table col ms-3" style="height:500px;">
                        <h2>Your Virtual Investment</h2>
                        <table style="min-height: 400px">
                            <thead>
                            <tr>
                                <th style="width:30%;">시간</th>
                                <th style="width:30%;">가격</th>
                                <th style="width:25%;">종목/수량</th>
                                <th style="width:15%;">여부</th>
                            </tr>
                            </thead>
                            <tbody id="investmentLogTableBody">
                            <!-- 이곳에 매수/매도 로그가 추가됩니다. -->
                            </tbody>
                        </table>
                        <div id="predictionContainer">
                            <h3>3일 후 예측 가격</h3>
                            <p id="predictionDate">일시: </p>
                            <p id="predictedPrice">예측 가격: </p>
                        </div>
                    </div>
                    <div class="container-table col ms-3" style="height:500px;">
                        <h1>Investment Analysis Report</h1>
                        <div id="responseContainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>


</body>
</html>