<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/index" class="logo">
                            <h1><img src="/assets/images/Logo3.png" style="width:15%"> Bitory</h1>
                        </a>
                        <!-- ***** Logo End ***** -->

                        <!-- ***** UserInfo Start ***** -->
                        <div style="float:right; margin:0px 30px;" class="right_username" id="oti" >User Id</div>
                        <div style="float:right; margin:0px 30px;" class="right_username" id="otb" >User Budget</div>
                        <!-- ***** UserInfo End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <script>
        // localStorage에 저장된 값을 가져오는 함수
        function getOTIFromLocalStorage(key, defaultValue) {
            // localStorage에서 해당 키로 저장된 값을 가져옴
            const storedValue = localStorage.getItem('oti');

            // 만약 값이 존재한다면 해당 값을 반환, 아니면 기본값 반환
            return storedValue !== null ? storedValue : defaultValue;
        }

        function getOTBFromLocalStorage(key, defaultValue) {
            // localStorage에서 해당 키로 저장된 값을 가져옴
            const storedValue = localStorage.getItem(key);

            // 만약 값이 존재한다면 해당 값을 반환, 아니면 기본값 반환
            return storedValue !== null ? storedValue : defaultValue;
        }

        // 페이지 로드 시 실행
        window.onload = function() {
            // localStorage에서 'myValue'라는 키로 저장된 값을 가져옴
            const storedID = getOTIFromLocalStorage(oti, 'Null');
            const storedBdg = getOTBFromLocalStorage(otb, 'Null');

            // 가져온 값을 화면에 표시
            document.body.innerHTML
        };
    </script>
    <!-- ***** Header Area End ***** -->
</th:block>
</html>