<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>
<!-- 가상화폐 예측분석 그래프 css-->
<th:block layout:fragment="content">
    <meta charset="utf-8">
    <div class="main-banner" id="top">
        <div id="main" class="">
            <div class="row">
                <div class="col-1 ms-5"></div>
                <div class="col-4">
                    <h1 class="marketTableName" id="Predict" style="color: rgb(0, 0, 0); margin-left:18%; margin-top:-1%; text-align:left">가상화폐 종류별 예측 그래프</h1>
                </div>
                <div class="col-1">
                    <div style="important!;">
                        <select id="ticker1" style="padding: 10px; text-align:center; border-radius: 10px; width: 165px;">
                            <option name="BTC" value="BTC" selected="selected">비트코인</option>
                            <option name="ETH" value="ETH">이더리움</option>
                            <option name="SOL" value="SOL">솔라나</option>
                            <option name="XRP" value="XRP">리플</option>
                            <option name="ETC" value="ETC">이더리움 클래식</option>
                            <option name="LINK" value="LINK">체인링크</option>
                            <option name="DOGE" value="DOGE">도지코인</option>
                            <option name="ADA" value="ADA">카르다노</option>
                            <option name="AVAX" value="AVAX">아발란체</option>
                            <option name="MATIC" value="MATIC">폴리곤</option>
                            <option name="DOT" value="DOT">폴카닷</option>
                            <option name="TRX" value="TRX">트론</option>
                            <option name="SHIB" value="SHIB">시바이누</option>
                            <option name="ATOM" value="ATOM">코스모스</option>
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <button onclick="printErrorPercent()" type="button" id="btn1" class="btn btn-info"
                            style="height: 45px; border-radius: 10px; width: 165px">PREDICT UPDATE</button>
                </div>
            </div>
            <br>

            <div id="bo">
                <!-- ==================== Canvas 예측 그래프.========================= -->
                <div class="wrapper" style="width:1400px; height:600px;">
                    <div id="ErrorPrint" style="position: absolute; text-align:right; left:50%; top:68%">
                        <p id="mse"></p>
                        <p id="mae"></p>
                        <p id="mape"></p>
                    </div>
                    <div id="stockChart"></div>
                        <div id="loading" style="display:none;">
                            <img src="/assets/images/loading7.gif" alt="Loading..." style="width:50%; position:relative; left:25%; top:100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>